
.sel
	border: 1px solid #000
	border-radius: 5px

.p2
	margin-top: 5px
	margin-bottom: 5px

.btp
	background-color: #EF3340 !important
	color: #fff !important
	margin-top: 20px !important

h6
	display: block
	color: grey

h6 span
	margin-left: 30px
	margin-right: 30px
	color: #6F7DFF
.dad
	position: relative
	background: #F7F8FC
	height: 500px
	width: 100%
	margin-bottom: 30px

.childImg
	right: 0
	bottom: 0
	position: absolute
	height:400px
	width: 200px

p span
	font-weight: bold
	text-decoration: underline
